altair==5.5.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==2.1.1
pandas==2.2.3
pyngrok==7.2.7
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.44.1
wordcloud==1.9.4
protobuf==5.29.4
